// body {
// 	background-color: #DEDEDE;
// }

// html, body {
// 	height: 100%;
// }

// .twitter-search-box {
// 	padding: 0px;
// 	min-height: 500px;
// }

// .bk-white {
// 	background-color: white;
// }

// #tweetsView {
//   height: 600px;
//   overflow: auto;
// }

// .twitter-search-box #search{
// 	padding: 20px;
// 	min-height: 300px;
// }

// .twitter-search-box .no-items{
// 	padding: 20px;
// }

.twitter-search-box #tweets .twitter-item {
	border-bottom: 1px solid gray;
	cursor: pointer;
  padding: 10px;
}

.twitter-search-box #tweets .twitter-item .avatar {
  margin: 0;
  padding: 0;
}

.twitter-search-box #tweets .twitter-item .tweet-descr {
  margin: 0;
}

.search .search-wrapper input{
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

.tweets-container {
  padding: 10px;
}

img {
   margin: 0;
  padding: 0;
}

// .twitter-search-box #tweets .item-parent {
// 	padding: 20px;
// }

// .twitter-search-box #tweets .twitter-item:hover {
// 	background-color: #EFE;
// }

// .twitter-search-box .detail {
//   border-right: 10px solid #969696;
//   margin-bottom: 0;
//   margin-left: 0;
//   margin-right: 0;
//   padding: 0 35px;
// }

// .footer {
//   background-color: #1B1B1B;
//   background-image: linear-gradient(to bottom, #222222, #111111);
//   background-repeat: repeat-x;
//   border-color: #252525;
//   clear: both;
//   color: #FFFFFF;
//   height: 40px;
//   padding-top: 0;
//   position: relative;
// }

// #wrap {
// 	min-height: 100%;
// }

// .twitter-search-box .items {
//   margin-bottom: 0;
//   margin-left: 0;
//   margin-right: 0;
// }

// .twitter-search-box footer {
// }

// .navbar-inner {
// 	border-radius: 0px;
// }

// .navbar {
//   margin-bottom: 0px;
// }